<div >
  <h1>Update your details</h1>
  <form >
    <div class="item-group">
      <label>First name</label>
      <input type="text" f/>
    </div>
  
    <div class="item-group">
      <label>Last name</label>
      <input type="text" />    
    </div>

    <div class="item-group">
      <label>Address line 1</label>
      <input type="text"/>    
    </div>
  
    <div class="item-group">
      <label>Address line 2</label>
      <input type="text" />
    </div>

    <div class="item-group">
      <label>Address line 3</label>
      <input type="text"/>
    </div>

    <div class="item-group">
      <label>City</label>
      <input type="text"/>
    </div>
  
    <div class="item-group">
      <label>County</label>
      <input type="text"/>
    </div>

    <div class="item-group">
      <label>Postcode</label>
      <input type="text"/>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
